body, html {
    height: 100%;
  }
  body{
    background-color: #E0E8FF;
  }
  .bg {
    /* The image used */
    background-image: url("./media/pattern-background-desktop.svg");
  
    
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

  .box{
    width: 31.25%;
    height: 77,4%;
    background-color: black;
  }